:root {
  --gallery: #eee;
  --bright-gray: #1f1f1f;
  --pink-swan: #c3bbbb;
  --white-rgba: rgba(255, 255, 255, 0.6);
  --gallery-rgba: rgba(238, 238, 238, 0.4);
  --animation: cubic-bezier(0.66, 0.28, 0.09, 0.53);

  --modal-focus: var(--gallery-rgba);
}

body {
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
  font-family: Helvetica;
}

svg,
img {
  max-width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.modal.isOpen {
  display: flex;
}

.modal.isOpening {
  animation: fadeIn .35s var(--animation);
}

.modal.isOpening .modal__container {
  animation: downUp .35s var(--animation);
}

.modal.isClosing {
  animation: fadeOut .35s var(--animation);
}

.modal.isClosing .modal__container {
  animation: centerUp .35s var(--animation);
}

.modal__button {
  margin: 150px 0;
  padding: 15px 40px;
  color: var(--bright-gray);
  background-color: var(--gallery);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.modal__button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 40px;
  height: 40px;
  padding: 7px;
  margin: 0;
  font-size: 0;
  background-color: transparent;
}

.modal__button--close path {
  fill: var(--gallery-rgba);
}

.modal__link {
  color: var(--pink-swan);
}

.modal__button:focus,
.modal__link:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--modal-focus);
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-rgba);
}

.modal__container {
  position: relative;
  width: 100%;
  max-width: 440px;
  max-height: 100vh;
  margin: 0 10px;
  background-color: var(--bright-gray);
  border-radius: 5px;
  color: var(--gallery);
  overflow-y: auto;
}

.modal__wrapper {
  padding: 55px 50px;
}

.modal__title {
  margin: 0 0 20px;
  font-size: 23px;
}

.modal__desc {
  margin: 0 0 25px;
  line-height: 1.65;
}

@keyframes downUp {
  0% {
    transform: translateY(8%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes centerUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-8%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
