.modal__button {
    margin: 0;
    padding: 1rem 2.5rem;
    color: var(--modal-button-color);
    background-color: var(--modal-button);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-align: center;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    appearance: none;
}

@media (max-width: 420px) {
    .modal__button {
        padding: 0.815rem 2.18rem;
    }
}

.modal__button:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--modal-focus);
}

.modal__button--close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.435rem;
    font-size: 0;
    background-color: transparent;
}

.modal__button--close svg {
    width: 100%;
}

.modal__button--close path {
    fill: var(--modal-close);
    transition: fill 0.3s var(--animation);
}

.modal__button--close:focus path {
    fill: var(--modal-close-active);
}

@media (hover: hover) {
    .modal__button--close:hover path {
        fill: var(--modal-close-active);
    }
}

.modal__button[data-keukenhof-open] {
    margin: 3rem 0;
}
