.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
}

@media (max-width: 1440px) {
    .wrapper {
        max-width: 1200px;
    }
}
